body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/018/747/original/line-flowers-dark.jpg?1633991934);
}

footer {
  position: relative;
  bottom: -53px;
  text-align: center;
  font-weight: bold;
}

.weather-app {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/017/663/original/parchment.jpg?1632579353);

  border-radius: 10px;

  padding: 0px 11px 61px;
  margin: 63px auto;
  box-shadow: 0 0 25px 0px black;
  max-width: 922px;

  font-family: "Alice", serif;
}

.date,
.time {
  font-weight: bold;
}

.date {
  font-size: 31px;
  margin: 10px 10px;
}

.time {
  font-size: 22px;
  margin: -11px 10px;
  font-size: 26px;
}

.current-location {
  position: relative;
  left: 58px;
  margin: 15px;
  padding: 11px 18px;
  border: 1px solid #dec49c;
  border-radius: 50%;
  background: #dec49c;
  box-shadow: 0 0 10px 0px black;
}

.search-input {
  margin: 15px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px black;
}

.search-button {
  padding: 10px;
  background: #dec49c;
  border: 1px solid #dec49c;
  border-radius: 0px 3px 3px 0;
  box-shadow: 0 0 9px 0px black;
}

.wonderland-image {
  margin: 8px 114px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 0 44px 5px black;
  max-width: 100%;

  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.city-state {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 57px;
}

.main-temp-icon {
  font-size: 74px;
  position: relative;
  top: -23px;
  right: 25px;
}

.main-temperature {
  font-size: 136px;
  position: relative;
  right: 33px;
  top: 6px;
}

.units {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  bottom: 52px;
  right: 33px;
}

.weather-description {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  position: relative;
  top: -21px;
}

.humidity-wind {
  list-style: none;
  padding: 0;
  margin-top: 0;
  position: relative;
  top: -16px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.day {
  font-size: 20px;
  font-weight: bold;
}

.forecast-temp-min {
  font-weight: bold;
  font-size: 20px;
  opacity: 0.7;
}

.forecast-temp-max {
  font-weight: bold;
  font-size: 20px;
}

.github-link {
  text-decoration: none;
}
